form {
    width: 600px;
    min-width: 320px;
    padding-top: 25px;
}

form label {
    padding-top: 5px;
    text-align: left;
}

.small-headerwrap {
	min-height: 400px !important;
	padding-top: 80px !important;
}

.centered {
    margin: 0 auto;
}

.form-submit-button {
	margin-right: 15px;
}

.login-form {
	margin-bottom: 50px;
}

.big-icon {
	font-size: 72px;
}

#footerwrap {
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-header img {
	max-height: 25px;
	background: none;
}

.navbar-header .logo-bigger {
	max-height: 30px;
}

.documents {
	padding: 30px 0px 50px 0px;
}

.document-area {
	border: 1px solid #b1b1b1;
	border-radius: 2px;
	max-width: 700px;
    margin: 0 auto;
    padding: 3px;
}

.document-area:hover {
	background-color: #f5f5f5;
}

.document-area .document-title {
	padding-left: 30px;
}

.document-area .document-lastmodified {
	padding-left: 30px;
	padding-top: 0px;
	margin-bottom: 10px;
}

.document-row {
	margin-bottom: -1px;
}

.alert {
	width: 900px;
	margin: 0 auto;
}

.projectdiary {
	text-align: center;
	width: 700px;
}

.create-diaryentry-button {
	width: 280px;
    padding: 15px;
}

.icon-left-padding {
	padding-left: 5px;
}

.projectdiary-overview-table {
	text-align: right;
}

.text-centered {
	text-align: center;
}

.select-member {
	width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-10 {
	margin-top: 10px;
}

.start-headerwrap {
	background: url(../img/legoheader.jpg) no-repeat center top !important;
    background-size: cover !important;
	min-height: 540px !important;
	margin-top: 50px !important;
}

.start-headline {
	font-size: 95px !important;
}

.start-introduction {
	margin-bottom: 25px;
}

.divider-hagenberg {
    background-image: url('../img/fhhagenberg.jpg');
    border-bottom: 0px;
}

.active a {
	background-color: transparent !important;
	color: #999 !important;
}

.h3-keywords {
	min-height: 50px;
}
